*{
	margin: 0;padding: 0;box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
	background-image: url('/img/matrixfenix.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: cover;

	display: flex;
	align-items: center;
}

.container{
/* 	background:url('/img/logo-q.png')no-repeat;  */
}	

.container{
	width: 320px;
	height: 430px;
/* 	background-color: black; */
	margin: 0 auto;
}

.title{
/* 	background-color:black; */
	color: white;
	width: ;
	height: ;
	font-size: 1.2rem;
	font-family: 'Ubuntu';
	text-align: center;
	margin-bottom: 8px;
}

.visor-1{
	margin-bottom: 30px;
}

.visor{
	height: 43px;
	width: 100%;
	border: 0;
	border-radius: 4px;

	background-color: #212121;
	outline: none;
	color: white;
	font-size: 1.2rem;
	padding-left: 8px;
}

.div-botao{
/* 	margin-left: 30px; */
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	place-items: center;
	gap: 20px;
}
.div-botao section {
	display: flex;
	gap: 10px
}
.botao{
	width: 50px;
	height: 50px;
/* 	margin: 5px; */
	border-radius: 4px;
	background-color: #212121;
	color: white;
	border: 0;
	font-size: 2.8rem;
	outline: none;

}


